<!DOCTYPE html>
<html lang="en">
    
    <%- include('./include/header.ejs') %>
<body>
    <%- include('./include/navbar.ejs') %>
    
    
    
    <div id="d_body">
        <div class="home">
            <h1 id="home">Home</h1>
            <img src="user.png">
            <p id="home">I'm Ahlam Mohmmed Maqram <br><br> Birth Date 18 march 1993 <br><br> Computer Science Graduate 2017 <br><br> Gail Bawazeer _ Mukalla _ Hadramout <br><br> 702158191 _ 736784806</p>

        </div>

        <div class="prog">
            <progress  ></progress>
            <progress  ></progress>
            <progress  ></progress>
            <progress  ></progress>

        </div>

        <div class="about">
            <h1 id="about">About</h1>
            <div class="sk_exp">
                <div class="skill">
                    <h2>Skills</h2>
                    <div class="d">
                        <label>Account Skills</label>
                        <progress value="90" max="100"></progress>
                    </div>
                    <div class="d">
                        <progress  value="70" max="100"></progress>
                        <label>programming with C++</label>
                    </div>
                    <div class="d">
                        <label>Web Sites Development</label>
                        <progress value="70" max="100"></progress>
                    </div>
                
                </div>
                <div class="exper">
                    <h2>Experience</h2>
                    <h6>Writing reports</h6>
                    <h6>Accunting</h6>
                    <h6>Web Sites Development</h6>
                </div>
            </div>
        </div>


        <div class="prog">
            <progress  ></progress>
            <progress  ></progress>
            <progress  ></progress>
            <progress  ></progress>

        </div>


        <div class="ser">
            <h1 id="ser">Services</h1>
            <div>
                <h2>Services provided</h2>
                <img class="amimg" src="work1.PNG">
                <img class="amimg" src="work2.JPG">
                <img class="amimg" src="work3.PNG">

            </div>
            <div>
                <h2>Previous Works</h2>
                <div class="d_pall">
                    <div class="d_p">
                        <img class="im" src="web1.jfif">
                        <p>Web Sites Design </p>
                    </div>
            
                    <div class="d_p">
                        <img src="c+2.png">
                        <p>Code C++ Design </p>
                    </div>
            
                    <div class="d_p">
                        <img src="web3.jfif">
                        <p>Web Sites Development </p>
                    </div>
                </div>
            </div>
        </div>



        <div class="prog">
            <progress  ></progress>
            <progress  ></progress>
            <progress  ></progress>
            <progress  ></progress>

        </div>


        <div class="con">
            <h1 id="cont">Contact</h1>
        
            <h3>To send masseges with Email</h3>
            <form>
                <input type="text" placeholder="Enter your Name">
                <input type="email" placeholder="Enter your Email">
                <input type="password" placeholder="Enter Password">
                <textarea rows="7"  placeholder="Write Massege"></textarea>
                <input id="sub" type="submit" value="send">
        
            </form>
        
            <h3>Or content with</h3>
            <ul>
                <li><a href="#"><img src="facebook.png"><label>www.facebook.com</label> </a></li>
                <li><a href="#"><img src="gmail.png"><label>www.gmail.com</label> </a></li>
                <li><a href="#"><img src="whats.jpg"><label>www.whatsapp.com</label> </a></li>
        
            </ul>
        </div>
    </div>


    <%- include('./include/footer.ejs') %>


    <script src="mod.js"></script>
</body>
</html>